XSDtoJSONGenerator/files_V2QBD/customer/PartyCdmTypes.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://www.intuit.com/sb/cdm/v2"
	targetNamespace="http://www.intuit.com/sb/cdm/v2" elementFormDefault="qualified"
	attributeFormDefault="unqualified">
	<xs:annotation>
		<xs:documentation>Intuit Base type CDMs that will be used in any domains as base types </xs:documentation>
	</xs:annotation>
	<xs:include schemaLocation="../common/IntuitCdmBaseTypes.xsd"/>
	<!-- Type definitions -->
	<xs:simpleType name="roleType">
		<xs:annotation>
			<xs:documentation>
				Product: ALL
				Description: Role type enumeration, can be a Customer, Vendor, Employee, NonEmployee, or OtherName 
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="Customer"/>
			<xs:enumeration value="Employee"/>
			<xs:enumeration value="NonEmployee"/>
			<xs:enumeration value="OtherName"/>
			<xs:enumeration value="Vendor"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:group name="ContactInfoGroup">
		<xs:annotation>
			<xs:documentation>
				Product: ALL
				Description: Contact information group of properties
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Address" type="PhysicalAddress" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>
					Product: QBW 
					Description: Tagged postal address.
					Product: QBO
					Description: Tagged postal address. The Tag identifies it as either "Shipping" or "Billing". If not specified, the default is "Billing".
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Phone" type="TelephoneNumber" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>
					Product: QBW 
					Description: Tagged phone number.
					Product: QBO
					Description: QBO allows mapping of up to 5 phone numbers but only one phone number is permitted for each DeviceType.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="WebSite" type="WebSiteAddress" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>
					Product: QBW 
					Description: Tagged web address. [br /]UNSUPPORTED FIELD.
					Product: QBO
					Description: Web site associated with the Customer, Job, or Vendor. Not supported for Employee. Only one web site can be specified. If more than one web site is specified, only the first one is used and the remaining are ignored.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Email" type="EmailAddress" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>
					Product: QBW 
					Description: Tagged email address.
					Product: QBO
					Description: Email address associated with the Customer, Employee, Job, or Vendor. Only one email address can be specified. If more than one email address is specified, only the first one is used and the remaining are ignored.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:group>
	<xs:group name="PersonGroup">
		<xs:annotation>
			<xs:documentation> 
				Product: ALL
				Description: Describes PersonGroup elements as a "group" so that PersonGroup can be substituted in places where all elements of Person need to appear 
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Title" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">
					Product: QBW 
					Description: Title of a person.[br /]Data Services max. length: 1024 characters. QuickBooks max. length: 15 characters.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="GivenName" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">
					Product: QBW
					Description: Given name or first name of a person.[br /]Data Services max. length: 1024 characters. QuickBooks max. length: 25 characters.
					Product: QBO
					Description: Given name or first name of a person.[br /]Filter support: Customer, Employee, Job.[br /]Sort support: Customer, Employee, Job.[br /]Required for Job and Vendor if Name is not specified.
					Filterable: QBO
					Sortable: QBO
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="MiddleName" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">
					Product: QBW
					Description: Middle name of the person.[br /]Data Services max. length: 1024 characters. QuickBooks max. length: 5 characters.
					Product: QBO
					Description: Middle name of the person.
					Filterable: QBO
					Sortable: QBO
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FamilyName" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">
					Product: QBW
					Description: Family name or last name of the person.[br /]Data Services max. length: 1024 characters. QuickBooks max. length: 25 characters.
					Product: QBO
					Description: Family name or last name of the person.[br /]Filter support: Customer, Employee, Job, Vendor.[br /]Sort support: Customer (default), Employee, Job (default).
					Filterable: QBO
					Sortable: QBO
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Suffix" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">
					Product: QBW 
					Description: Suffix associated with a person name. For example, Senior, Junior, etc.[br /]Data Services max. length: 1024 characters. QuickBooks Length: 10 characters.[br /]UNSUPPORTED FIELD.
					Product: QBO 
					Description: Suffix associated with a person name. For example, Senior, Junior, etc.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Gender" type="gender" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">
					Product: QBW 
					Description: Gender of the person: Male or Female. Valid for Employee only.[br /]UNSUPPORTED FIELD.
					Product: QBO
					Description: Gender of the person: Male or Female.[br /]Valid for Employee only. Not supported for Customer, Job, or Vendor.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="BirthDate" type="IDSDate" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">
					Product: QBW 
					Description: Birth date of the person. Valid for Employee only.[br /]UNSUPPORTED FIELD.
					Product: QBO
					Description: Birth date of the person. For QBO, the Data Type is DateTime.[br /]Valid for Employee only. Not supported for Customer, Job, or Vendor.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="UserId" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">
					Product: QBW 
					Description: Authentication ID of this person. [br /]UNSUPPORTED FIELD.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:group>
	<xs:group name="OrganizationGroup">
		<xs:annotation>
			<xs:documentation>
			Product: ALL
			Description: Describes OrganizationGroup elements as a "group" so that OrganizationGroup can be substituted in places where all elements of Organization elements need to appear 
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="OrgId" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">
					Product: QBW 
					Description: Organization ID. [br /]UNSUPPORTED FIELD.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="LegalName" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">
					Product: QBW 
					Description: Legal Name of the Organization. [br /]UNSUPPORTED FIELD.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DBAName" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">
					Product: QBW
					Description: DBA (Doing Business As) Name.[br /]Data Services max. length: 1024 characters. QuickBooks max. length: 41 characters.
					Product: QBO
					Description: DBA (Doing Business As) Name. Not supported for Employee.
					Filterable: QBO
					Sortable: QBO
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Industry" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">
					Product: QBW 
					Description: Type of industry. [br /]UNSUPPORTED FIELD.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="NonProfit" type="xs:boolean" default="false" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">
					Product: QBW 
					Description: Whether the organization is non profit. [br /]UNSUPPORTED FIELD.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="LegalStructure" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">
					Product: QBW 
					Description: LegalStructure. [br /]UNSUPPORTED FIELD.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Category" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">
					Product: QBW 
					Description: Category of the organization. [br /]UNSUPPORTED FIELD.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:group>
	<xs:complexType name="Person">
		<xs:annotation>
			<xs:documentation>
			Product: ALL
			Description: Shared type that can be extended by domain specific views. [br /]UNSUPPORTED FIELD.
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="CdmBase">
				<xs:sequence>
					<xs:group ref="PersonGroup"/>
					<xs:element name="TaxId" type="xs:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation xml:lang="en">
							Product: ALL
							Description: Tax ID of the person, can be social security number or tax id. 
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:group ref="ContactInfoGroup"/>
					<xs:element name="Role" type="roleType" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation xml:lang="en">
							Product: ALL
							Description: Roles played by this person
							</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="Organization">
		<xs:annotation>
			<xs:documentation>
			Product: ALL
			Description: Shared  type that can be extended by domain specific views. [br /]UNSUPPORTED FIELD.
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="CdmBase">
				<xs:sequence>
					<xs:group ref="OrganizationGroup"/>
					<xs:element name="TaxId" type="xs:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation xml:lang="en">
							Product: ALL
							Description: Organization tax ID
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:group ref="ContactInfoGroup"/>
					<xs:element name="Role" type="roleType" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation xml:lang="en">
							Product: ALL
							Description: Roles played by this organization
							</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>
